{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"semi": false,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"proseWrap": "never",
	"printWidth": 100,
	"useTabs": true
}
