.test__flex {
	display: flex;
	color: palegreen;
}
body {
	background-color: palegoldenrod !important;
	background-image: url(../../../assets/1.jpg);
	background-position: center;
	background-size: cover;
}

.routes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
